.box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dcdcdc;
    flex-direction: column;
}
.content{
    width: 510px;
    height: 510px;
    background: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 5px 5px 5px 1px #242424;
}
.input_box_account{
    margin-bottom: 20px;
}