.box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dcdcdc;
    flex-direction: column;
}
.content{
    width: 510px;
    height: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 5px 5px 5px 1px #242424;
    padding: 40px;
}
.input_box p{
    color: red;
    font-size: 12px;
}
.register_box .input_box_password,
.input_box_account{
    margin-bottom: 20px;
}
.btn{
    width: 50%;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border:none;
    background: #151A54;
    color: #fff;
}